body{
    background-color:white ;
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content:space-between;
   list-style-type: none;
    align-items: center;
   padding: 16px;
}
a{
    color: black;
    text-decoration: none;
}
  img{

    
  }
  .texttest{
    color: blueviolet;
  }
h2{
  font-family: Arial, Helvetica, sans-serif;
}
